/*
multi
line
comment
*/

.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

body {
    background-image: url("../img/website_background.jpg");
    background-size: cover;
    color:aliceblue;
    font-style: oblique;
}

ul {
    list-style-type: georgian;
}

ol {
    list-style-type: circle;
}



td {
    padding: 10px;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

a {
    text-decoration: dotted;
}